/* general class-based styles */
.card-container {
    border-radius: .75rem;
    margin: 2rem .75rem;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-container h2 {
    /* font-size: 2rem; */
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}


/* team page things */
.team-page {
    display: grid;

    grid-template-areas: "info"
                         "roster"
                         "results"
                         "nav";
    width: clamp(300px, 95%, 1600px);
    margin: 0 auto;
    /* background-color: bisque; */
    padding:2rem 1rem;
}

@media (min-width: 1100px) {
    .team-page {
        grid-template-areas: "info results"
                             "roster results"
                             "nav nav";
        grid-template-columns: 60% 40%;
    }
}

.team-info-container {
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.team-info-container p {
    font-size: 2rem;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0 0 1rem;
}


@media (min-width: 720px ) {
    .team-info-container {
        flex-direction: row;
    }

    .team-info-container p {
        margin: 0;
    }
}


.team-roster-container {
    grid-area: roster;
}

.team-results-container {
    grid-area: results;
}

.team-results-container td {
    padding:  .5rem 1rem;
}

.team-page .post-navigation {
    grid-area: nav;
}

.win-result {
    color: green;
}

.loss-result {
    color: red;
}  

.tie-result {
    color: black;
}